@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:wght@300;600;800&family=Raleway:wght@400;700&family=Space+Grotesk:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

$pale-blue: hsl(243, 100%, 93%);
$grayish-blue: hsl(229, 7%, 55%);
$dark-blue: hsl(228, 56%, 26%);
$very-dark-blue: hsl(229, 57%, 11%);


body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    width: 100vw;
    height: 100vh;
    background: url("../assets/img/bg-desktop.png"), $very-dark-blue;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

section {
    background: hsl(228, 56%, 26%);
}

.sectionLogo {
    padding: 2em;
    border-radius: .5em 5em .5em .5em;
    width: 17.5em;
    margin-right: 2em;

    .divLogo {
        margin-bottom: 2em;
    }

    .divLogo img {
        width: 50%;
    }

    .divInputFiles input {
        display: none;
    }

    .divInputFiles label {
        background-color: $very-dark-blue;
        color: #fff;
        padding: .5em 2em;
        border-radius: .25em;
        cursor: pointer;
    }
}

.sectionProgress {
    padding: 1.5em;
    border-radius: .5em;
    width: 25em;
    position: relative;

    .labelValue {
        color: #fff;
        font-size: .9em;
    }

    .labelValue strong {
        margin: 0 .25em;
    }

    .divProgress {
        margin-top: 1em;
    }

    .divProgress div {
        display: flex;
        justify-content: space-between;
        color: #fff;
        font-weight: bold;
        font-size: .85em;
        margin-top: .5em;
    }

    .divProgress progress {
        width: 100%;
        -webkit-appearance: none;
        border-radius: 1em;
    }

    .divProgress progress::-webkit-progress-value
    {
        background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
        border-radius: .75em;
    }
    .divProgress progress::-webkit-progress-bar
    {
        border-radius: .75em;
        background:#132049;
    }

}

/**Exibição de card com valor restante de memória**/

.divRestante {
    background-color: #fff;
    padding: .75em 1em;
    display: none;
    position: absolute;
    border-radius: .75em .75em 0 .75em;
    border: 1px solid black;
    top: -40%;
    right: 5%;

    strong output {
        font-size: 2em;
    }

    span {
        font-size: .85em;
        color: $grayish-blue;
    }
}

.visible {
    display: block;
}

.divRestante::after {
    content: '';
    position: absolute;
    width: 1.25em;
    height: 1.25em;
    bottom: -18.5%;
    right: 1.5%;
    background: #fff;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    transform: rotate(42deg);

}

@media screen and (min-width: 340px) and (max-width: 700px) {
    body{
        background-image: url("/Fylo/assets/img/bg-mobile.png");
        background-size:cover;
    }
    main{
        flex-direction: column;
        align-items:center;
    }
    .sectionLogo{
        margin:0 0 1.5em 0;
    }
    .sectionProgress{
        width: 17.5em;

        .divRestante{
            bottom: -40%;
            top:auto;
            right: 11%;
            border-radius: .75em;
        }
        .divRestante::after{
            visibility: hidden;
        }
    }
   
}