@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:wght@300;600;800&family=Raleway:wght@400;700&family=Space+Grotesk:wght@500&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    vertical-align: baseline;
}

$pale-blue: hsl(243, 100%, 93%);
$grayish-blue: hsl(229, 7%, 55%);
$dark-blue: hsl(228, 56%, 26%);
$very-dark-blue: hsl(229, 57%, 11%);
   

body{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    width: 100vw;
    height: 100vh;
    background-color: $very-dark-blue;
}
main{
   background: url("../assets/img/bg-desktop.png") no-repeat bottom ;
   background-size: contain;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

section{
    background: hsl(228, 56%, 26%);
}

.sectionLogo{
    padding: 2em;
    border-radius: 1em 5em 1em 1em;
    width: 17.5em;
    margin-right: 5em;
    .divLogo{
        margin-bottom: 2em;
    }
    .divLogo img{
        width: 50%;
    }
    .divInputFiles input{
        display: none;
    }
    .divInputFiles label{
        background-color: $very-dark-blue;
        color: #fff;
        padding: .5em 2em;
        border-radius: .25em;
        cursor: pointer;
    }
}

.sectionProgress{
    padding: 1.5em;
    border-radius: .5em;
    width: 25em;
    .labelValue{
        color: #fff;
    }
    .labelValue strong{
        margin: 0 .25em;
    }
    .divProgress{
        margin-top:1em;
    }
    .divProgress div{
        display: flex;
        justify-content: space-between;
        color: #fff;
        font-weight: bold;
        font-size: .85em;
        margin-top: .5em;
    }
    .divProgress progress{
        width: 100%;
        background-color: yellow;
        -webkit-appearance: none;
        border-radius: 1em;
    }
    .divProgress progress::-webkit-progress-value{
        background: linear-gradient(to right,hsl(6, 100%, 80%),hsl(335, 100%, 65%));
    }
}